@import url(./colors.css);
@import url(./dimensions.css);

.main-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin: 8px;
}

.primary-btn {
  background-color: var(--primary-color);
  width: var(--btn-width);
  height: var(--btn-height);
  border: 5px solid var(--primary-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  font-weight: var(--font-weigt-text);
}

.primary-btn:hover {
  cursor: pointer;
  filter: brightness(0.95);
}

.secondary-btn {
  background-color: var(--secondary-color);
  width: var(--btn-width);
  height: var(--btn-height);
  border: 5px solid var(--secondary-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  font-weight: var(--font-weigt-text);
}

.secondary-btn:hover {
  cursor: pointer;
  filter: brightness(0.95);
}

.form {
  display: flex;
  flex-flow: column;
  gap: 2em;
}

.text-input {
  width: var(--text-input-width);
  height: var(--text-input-height);
  padding: 10px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: var(--border-radius);
  outline: none;
  transition: all 0.3s ease;
}

.text-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.checkbox {
  width: var(--checkbox-width);
  height: var(--checkbox-height);
  accent-color: var(--primary-color);
}
.radio-btn {
  width: var(--checkbox-width);
  height: var(--checkbox-height);
  accent-color: var(--primary-color);
}
.select-list {
  width: var(--select-list-width);
  height: var(--select-list-height);
  padding: 5px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 5px;
  appearance: none;
  background-image: url("./SVG/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: var(--arrow-select-list-size);
}

.select-list:focus {
  border-color: var(--primary-color);
  outline: none;
}
