:root {
  --primary-color: #338cf8;
  --secondary-color: #f0bbc8;
  --border-radius: 5px;
  --border-radius-button: 50px
  --body-width: 100vw;
  --main-container-width: 900px;
  --main-container-height: 650px;
  --input-width: 300px;
  --input-height: 40px;
  --avatar-width:80px;
  --avatar-height:80px;
  --avatar-radius:50%;
  --btn-check-btn-width:20px;
  --btn-check-btn-height:20px;

}

* {
  word-spacing: normal;
}

@font-face {
  font-family: Poppins-Light;
  src: url("../fonts/Poppins/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: Poppins-Black;
  src: url("../fonts/Poppins/Poppins-Black.ttf");
}

@font-face {
  font-family: Poppins-Regular;
  src: url("../fonts/PT_Mono/PTMono-Regular.ttf");
}

body {
  display: flex;
  flex-flow: column wrap;
  place-items: center;
  width: var(--body-width);
  background-color: #dcd5d5;
  box-sizing: border-box;
}

.main {
  margin-top: 10%;
  width: var(--main-container-width);
  height: var(--main-container-height);
  background-color: var(--primary-color);
  border-radius: 20px; 
  display: flex;
}
.login-container {
  width: 50%;
  background-color: #fff;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: column wrap;
  place-items: center;
  font-family: Poppins-Black;
  gap: 2em;
}
.form-login {
  display: flex;
  flex-flow: column;
  gap: 3em;
  font-family: Poppins-Light;
  font-weight: bold;
}

.input-container {
  display: flex;
  flex-flow: column;
  gap:1em;
}

input {
  outline: none;
  width: var(--input-width);
  height: var(--input-height);
  font-family: Poppins-Regular;
}

label{
  font-family: Poppins-Regular;
  color:var(--primary-color);
  
}

input:focus{
  border: 2px solid var(--primary-color); 
}


a {
  text-decoration: none;
  font-family: Poppins-Black;
  color: #fff;
  width: var(--input-width);
  height: var(--input-height);
  background-color: var(--primary-color);
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary-color); 
  border-radius: 20px; 
 
}
.right-container{
    background-color:var(--primary-color);
    background-image: url('../assets/background.avif');
    background-size: cover;
    background-blend-mode:lighten;
   
    height: var(--main-container-height);
    width: 50%;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: Poppins-Black;
    font-size:medium;
    word-spacing: normal;
    color: #ffffff;
}

.sign-up-btn{

    background-color: #fff;
    width: 200px;
    color: var(--primary-color);
    border: var(--body-width);
}

.avatar-container{

    height: var(--avatar-height);
    width: var(--avatar-width);
    border-radius: var(--avatar-radius);
    background-color: var(--primary-color);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;

    
}

.avatar{
  height: var(--avatar-height);
  width: var(--avatar-width);
  object-fit: cover;
}

.password-recovery-container{
  display: flex;
  place-items: center;
  gap: 4em;
}

.btn-remember{
  width: var(--btn-check-btn-width);
  height: var(--btn-check-btn-height);
  accent-color: var(--primary-color);
  
}

.checkbox-container{
  display: flex;
  place-items: center;
}

.forgot-pass-btn{
  color: #767373;
  font-family: Poppins-Regular;
  word-spacing: normal;
}