* {
  --card-body-height: 350px;
  --card-body-width: 250px;
  --border-radius: 15px;
}

.main-card-container {
  display: flex;
  width: 80%;
  flex-flow: row wrap;
  place-items: center;
  place-content: center;
  gap: 2em;
}
.card-boby {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: var(--card-body-height);
  width: var(--card-body-width);
  border-radius: var(--border-radius);
  color: black;
  font-weight: bold;
}
.movie-poster {
  height: 86%;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

        
.card-boby span {
  padding: 5px;
}
