* {
  --search-field-height: 40px;
  --search-fieldi-width: 450px;
  --submit-bnt-height: 40px;
  --submit-bnt-width: 150px;
  --submnit-bnt-color: #f71212;
}

.search-container {
  display: flex;
  width: 100%;
  gap: 1em;
  place-content: center;
}

.search-input {
  outline: none;
  width: var(--search-fieldi-width);
  height: var(--search-field-height);
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  background-color: #141414;
  border-radius: 5px;
}

.search-input:focus {
  cursor: pointer;
}

.submit-btn {
  height: var(--submit-bnt-height);
  width: var(--submit-bnt-width);
  background-color: var(--submnit-bnt-color);
  outline: none;
  accent-color: none;
  border: none;
  border-radius: 5px;
}

.submit-btn:hover {
  cursor: pointer;
}
